.container__todoitem {
  width: 100%;
  max-width: 600px;
  margin: 0.2rem;
  border-radius: 5px;

  &__task {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    margin: 0.6rem 0rem;
    border-radius: 5px;

    &__list {
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
      margin: 0.6rem;

      &__check {
        input {
          height: 20px;
          width: 20px;
          margin: 0px 10px;
        }
      }

      &__tasks {
        line-height: 16px;
      }

      &__icon {
        display: flex;

        svg {
          margin: 0rem 0.4rem;
          cursor: pointer;
          background-color: #ddd;
          width: 25px;
          height: 25px;
          border-radius: 5px;
        }
      }
    }
  }
  &__deleteall {
    button {
      width: 400px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: #fa2612dc;
      color: #fff;
      cursor: pointer;
      font-size: 1rem;
      transition: 0.3s all ease-in-out;
    }
  }
}
